<div class="donut-chart" data-percent={{percent}} data-bar-color={{color}} data-track-color={{track-color}}>
    <!-- <div class={{name}}>
        {{name}}
    </div> -->
    <span class={{name}}>{{name}}</span>
</div>
