<div class="project">

    <h1>
        <img class="circle"  src={{model.thumbnail}} alt="" data-project-img={{model.id}} />
        {{model.name}}
    </h1>


    <section class="flickity-gallery">
        <!-- {{#each model.photos}}
            <div class="gallery-cell">
                <img src={{this}} alt="" />
            </div>
        {{/each}} -->

        <div class="gallery-cell">
            <img src={{model.photos}} alt="" />
        </div>

    </section>


    <section class="flickity-nav">
        <!-- {{#each model.photos}}
            <div class="gallery-cell">
                <img src={{this}} alt="" />
            </div>
        {{/each}} -->

        <div class="gallery-cell">
            <img src={{model.photos}} alt="" />
        </div>
    </section>

    <section class="project-infobar">
        <!-- <div class="project-types">
            {{model.types}}
        </div> -->

        <aside>
            {{#link-to 'projects.index' title="Back to All Projects" class="pill-btn"}}
                {{fa-icon 'arrow-left'}}
            {{/link-to}}

            {{#if model.url}}
                <a href={{model.url}} target="_blank" title="View Site" class="pill-btn">{{fa-icon 'eye'}}</a>
            {{/if}}
        </aside>

        {{#unless isAuthenticated}}
            <aside>
                {{#link-to 'projects.index' class="pill-btn"}}
                    {{fa-icon 'pencil'}}
                {{/link-to}}

                <div class="pill-btn" {{action 'deleteProject' model.id}}>
                    {{fa-icon 'minus'}}
                </div>
            </aside>
        {{/unless}}
    </section>


        <div class="col-1-2">
            <h2>Overview</h2>
            <p>
                {{model.body}}
            </p>
        </div>
        <div class="col-1-2">
            <h2>Tech</h2>
            <ul>
                {{#each model.techs}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="col-1">
            <h3>My Role</h3>
            <p>
                {{model.body}}
            </p>
        </div>

</div>
