<h1>
    <img class="circle"  src={{model.thumbnail}} alt="" data-project-img={{model.id}} />
    {{model.name}}
</h1>

<div class="flickity-gallery">
        <div class="gallery-cell">
            <img src="assets/images/sliders/cogov/homepage.jpg" alt="" />
        </div>
        <div class="gallery-cell">
            <img src="assets/images/sliders/cogov/online-services.jpg" alt="" />
        </div>
        <div class="gallery-cell">
<img src="assets/images/sliders/cogov/homepage.jpg" alt="" />
        </div>
        <div class="gallery-cell">
<img src="assets/images/sliders/cogov/online-services.jpg" alt="" />
        </div>
        <div class="gallery-cell">
    <img src="assets/images/sliders/cogov/homepage.jpg" alt="" />
        </div>
</div>

<p>
    {{model.description}}
</p>
<p>
    {{model.description}}
</p>
<p>
    {{model.description}}
</p>
<p>
    {{model.description}}
</p>
<p>
    {{model.description}}
</p>
