<div class="container">
    <h1>
        A little about me.
    </h1>
    <p>
        <b>Designer + front-end engineer</b> currently living in <b>Denver, Colorado</b>; Born and raised in Colorado Springs. <br>
        I enjoy creating intuitive + purposeful user interfaces by employing effective + elegant design.<br>
        I have a strong background in design, but also enjoy getting my hands dirty in the backend of web technologies.
        <!-- <b>I design. I code. I solve problems.</b> -->
    </p>

    <div class="col-1-2">
        <h2>Production Skills</h2>
        <br>
        {{donut-chart name="html" percent=100 color="#489fe0" track-color="whitesmoke"}}
        {{donut-chart name="css" percent=100 color="#39c69e" track-color="whitesmoke"}}
        {{donut-chart name="javascript" percent=80 color="#e29a3b" track-color="whitesmoke"}}
        {{donut-chart name="ruby" percent=60 color="#e2433b" track-color="whitesmoke"}}
        {{donut-chart name="php" percent=50 color="#a544b0" track-color="whitesmoke"}}
        {{donut-chart name="git" percent=75 color="#aaa" track-color="whitesmoke"}}
        {{donut-chart name="photoshop" percent=80 color="#489fe0" track-color="whitesmoke"}}
        {{donut-chart name="illustrator" percent=100 color="#e2ca3b" track-color="whitesmoke"}}
        <br>
    </div>

    <div class="col-1-2">
        <h2>Tech + Concepts</h2>
        <p class="columns-3">
            <span>Ember</span>
            <span>Rails</span>
            <span>JQuery</span>
            <span>Sass</span>
            <span>Drupal</span>
            <span>WordPress</span>
            <span>RESTful Web Services</span>
            <span>MVC</span>
            <span>SQL Databases</span>
            <span>Bower</span>
            <span>Build systems</span>
            <span>Agile</span>
        </p>
    </div>
</div>
