<h1>Hello, my name is Tedd.</h1>

{{gravatar-image email="tedd.arcuri@gmail.com" size=120}}
<img src="assets/images/colorado.png" alt="" />

<div class="halfs">

    <p>

        I am a web designer + front-end engineer currently living in Denver, Colorado; Born and raised in Colorado Springs. <br>
        I enjoy creating intuitive + purposeful user interfaces backed by simple + elegant design.<br>
        I meticulously craft my work line by line, pixel by pixel.
    </p>

    <br>
    <div>
        {{#link-to 'projects' class="btn"}}
            See My Work
        {{/link-to}}
        {{#link-to 'contact' class="btn"}}
            Get in touch
        {{/link-to}}
        {{#link-to 'projects' class="btn"}}
            My thoughts
        {{/link-to}}
    </div>

    <br><br>

    <h2>Development Skills</h2>
    <br>

    <h3>Languages</h3>
    {{donut-chart name="javascript" percent=80 color="#e2ca3b" track-color="#fff"}}
    {{donut-chart name="ruby" percent=55 color="#e2433b" track-color="#fff"}}
    {{donut-chart name="php" percent=70 color="#c248e0" track-color="#fff"}}
    {{donut-chart name="html" percent=75 color="#489fe0" track-color="#fff"}}
    {{donut-chart name="css" percent=90 color="#39c69e" track-color="#fff"}}

    <br><br><br>
    <h3>Platforms | Tech | Frameworks | Etc</h3>
    {{donut-chart name="ember" percent=80 color="#e2ca3b" track-color="#fff"}}
    {{donut-chart name="rails" percent=70 color="#e2433b" track-color="#fff"}}
    {{donut-chart name="drupal" percent=55 color="#c248e0" track-color="#fff"}}
    {{donut-chart name="wordpress" percent=60 color="#489fe0" track-color="#fff"}}
    {{donut-chart name="sass" percent=90 color="#39c69e" track-color="#fff"}}
    {{donut-chart name="git" percent=50 color="#aaa" track-color="#fff"}}
    {{donut-chart name="photoshop" percent=60 color="#489fe0" track-color="#fff"}}
    {{donut-chart name="illustrator" percent=80 color="#e2ca3b" track-color="#fff"}}
    {{donut-chart name="indesign" percent=70 color="#e2433b" track-color="#fff"}}

</div>

<br>



<!-- <hr>
Skills piecharts
<hr>
Work History
<hr>
Interests and Focus
<hr> -->
{{outlet}}
